<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autolean.appcatalog" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.CatalogActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>
